@font-face {
  font-family: "kajiro";
  src: url("./fonts/Kajiro Bold.ttf") format("truetype");
}

@font-face {
  font-family: "gilroy";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#back {
  width: 100%;
  height: 100vh;
}

#back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#top {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999;
}

#workingarea {
  position: relative;
  margin: 0 auto;
  width: 85%;
  height: 100vh;
  max-width: 1920px;
}

#nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav img {
  height: 60px;
}

#nleft,
#nright {
  display: flex;
  align-items: center;
  gap: 60px;
}

#nav a {
  pointer-events: all;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

#hero {
  margin-top: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#heroleft {
  min-width: 50%;
}

#heroleft .elem {
  position: relative;
  height: 9vw;
  overflow: hidden;
}

#heroleft .elem h1:nth-child(1) {
  top:0;

}

#heroleft .elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 0.9  ;
  font-family: "kajiro";
  color: #fff;
  font-weight: 100;
  font-size: 7vw;
  text-transform: uppercase;
}

#heroleft button {
  pointer-events: all;
  padding: 0.8vw 3vw;
  font-size: 4vw;
  margin-top: 2vw;
  font-family: "kajiro";
}

#heroright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 17%;
  color: #fff;
}

#heroright p {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

#heroright #imagediv {
  width: 100%;
  height: 170px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-image: url(https://imgs.search.brave.com/RBS9pBIv1gQvVR0-ChDjlqKx0Mz3h6Ga6vE51BHy_28/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzA2LzY0/L2JjLzA2NjRiY2E4/OTlhNzg5NTc3ZWZm/ZTIwMDBiOGNiMDll/LmpwZw);
  background-size: cover;
  background-position: center;
}

#heroright p:nth-child(3) {
  margin-bottom: 60px;
}
